* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-bg: #f4f6f7;
  --secondary-bg: white;
  --button-color: white;
  --button-bg: #596d48;
  --input-border: 1px solid #e5e7eb;
  --primary-color: black;
}

:root.dark {
  --primary-bg: rgb(10, 9, 9);
  --secondary-bg: #0e0e0e;
  --button-color: #ffffff;
  --button-bg: #596d48;
  --input-border: 1px solid #747475;
  --primary-color: white;
  --input-bg: #0e0e0e;
}


@media (prefers-color-scheme: dark) {
    
:root{
    --primary-bg: rgb(10, 9, 9);
    --secondary-bg: #0e0e0e;
    --button-color:#ffffff;
    --button-bg: #596D48;
    --input-border:1px solid #747475;
    --primary-color:white;
    --input-bg:#0e0e0e;
    
}

:root.light{
  --primary-bg: #f4f6f7;
  --secondary-bg: white;
  --button-color: white;
  --button-bg: #596d48;
  --input-border: 1px solid #e5e7eb;
  --primary-color: black;
  --input-bg:#fff;
}

}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  color: var(--primary-color);
}

.pic-section {
  background: url("bg.jpg") no-repeat center center/cover;
}

.mode {
  width: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}
fieldset {
  border: none;
}

.content-section {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}

.header {
  padding: 40px 50px 30px 50px;
}

form {
  padding: 30px 60px 30px 60px;
  background-color: var(--secondary-bg);
  z-index: 0;
}

.form-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-box div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border: var(--input-border);
  padding: 8px;
  background-color: var(--input-bg);
  color: var(--primary-color);
}

p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0px;
}

a {
  color: var(--button-bg);
}

legend {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

label {
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.footer {
  padding: 30px 50px 30px 50px;
}

button {
  padding: 12px 24px;
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  background: var(--button-bg);
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.3s cubic-bezier(0, 2.18, 0.64, 0.69);
}

input:checked + .slider {
  background-color: var(--button-bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--button-bg);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}
